<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Management_System.Properties.Settings.studentdbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\studentdb.accdb"
            providerName="System.Data.OleDb" />
        <add name="stdb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Excellent_Torch\Documents\studentdb.accdb"
            providerName="System.Data.OleDb" />
        <add name="Student_Management_System.Properties.Settings.admindbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\admindb.accdb"
            providerName="System.Data.OleDb" />
        <add name="Student_Management_System.Properties.Settings.admindb_1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\admindb_1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Student_Management_System.Properties.Settings.studentdbConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Excellent_Torch\Documents\studentdb.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>